{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}
  <h1>Dashboard</h1>
  <p>Welcome, {{ current_user.username }}.</p>

  <div style="margin-bottom: 20px;">
    <button onclick="showTab('current')">Your Classes</button>
    <button onclick="showTab('add')">Add Classes</button>
  </div>

  <div id="current-classes">
    <table border="1" cellspacing="0" cellpadding="8">
        <thead>
            <tr>
                <th>Class Name</th>
                <th>Teacher</th>
                <th>Time</th>
                <th>Enrollment</th>
            </tr>
        </thead>
        <tbody>
            {% for c in classes %}
            <tr>
                <td>{{ c.class_name }}</td>
                <td>{{ c.teacher.user.username }}</td>
                <td>{{ c.class_time }}</td>
                <td>
                    {{ c.enrollments|length }}/{{ c.class_capacity }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
  <div id="add-classes" style="display:none;">
    <table border="1" cellspacing="0" cellpadding="8">
        <thead>
            <tr>
                <th>Class Name</th>
                <th>Teacher</th>
                <th>Time</th>
                <th>Enrollment</th>
                <th>Add/Drop</th>
            </tr>
        </thead>
        <tbody>
            {% for c in allClasses %}
            <tr>
                <td>{{ c.class_name }}</td>
                <td>{{ c.teacher.user.username }}</td>
                <td>{{ c.class_time }}</td>
                <td>{{ c.enrollments|length }}/{{ c.class_capacity }}</td>
                <td><button>+/-</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>

  <p><a href="{{ url_for('auth.logout') }}">Log out</a></p>

  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}