

body {
  font-family: system-ui, Arial, sans-serif;
  background-color: #f0efef;
  color: #222;
  margin: 0;
  padding: 0;
}

.container {
    /* padding: 3rem;
    background: #faf7f7;
    border: 2px solid #17104d;
    border-radius: 1rem; */
    max-width: 60vw; 
    min-height: 50vh;
    margin-top: 5rem;
    margin: 0 auto;
}

h1, h2 {
  color: #333;
}

.line {
  border: none;
  border-top: 1px solid #ccc;
  margin: 0 0 3rem 0;
}

p {
  font-size: 20px;
}

.button-container {
  margin-bottom: 1rem;
}

.selector-button {
  font-size: 20px;
}

.add-drop-class {
  background: none;
  font-size: 1.5rem;
  color: #4652a3;
}

section {
  background: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  margin: 16px auto;
  padding: 16px;
  max-width: 800px;
  border-radius: 8px;
}

input {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

button {
  background-color: #4652a3;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 14px;
}

input[type="submit"]{
  background-color: #4652a3;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 14px;
}


button:hover {
  opacity: 0.85;
}

button:disabled {
  background-color: #999;
  cursor: not-allowed;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 12px;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: #f5f5f5;
  box-shadow: 0 2px 6px rgba(59, 59, 59, 0.2);
}

th, td {
  text-align: left;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #dddceb;
}

tr:hover {
  background-color: #fafafa;
}

@media (max-width: 600px) {
  section {
    padding: 12px;
  }
  input, button {
    width: 100%;
    margin-top: 8px;
  }
  form {
    display: flex;
    flex-direction: column;
  }
}
